extends layout

block head
    link(rel='stylesheet', href='/public/stylesheets/index.css')
    script(src='public/javascripts/index.js')

block content
    h1= title
    p Server Status:&nbsp;
        span#runningStatus ...
    p Available at:
    ul
        each a in addresses
            li= a.address + ":3001"
    button.good(type='button' onclick='startServer()') Start Server
    button.bad(type='button' onclick='stopServer()') Stop Server
    button(type='button' onclick='restartServer()') Restart Server
    div#notification
