extends layout

block head
    link(rel='stylesheet', href='/public/stylesheets/index.css')
    script(src='public/javascripts/index.js')

block content
    h1= title
    p Welcome to #{title}
    button.good(type='button' onclick='startServer()') Start Server
    button.bad(type='button' onclick='stopServer()') Stop Server
    button(type='button' onclick='restartServer()') Restart Server
