doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        script(src='public/javascripts/jquery-1.11.3.min.js')
        block head
    body
        block content
